<!--NAVIGATION-->
< [Dataset Columns](Columns.ipynb) | [Index](Index.ipynb) | [Variable Unit](Unit.ipynb) >

<a href="https://colab.research.google.com/github/simonscmap/pycmap/blob/master/docs/Head.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>

<a href="https://mybinder.org/v2/gh/simonscmap/pycmap/master?filepath=docs%2FHead.ipynb"><img align="right" src="https://mybinder.org/badge_logo.svg" alt="Open in Colab" title="Open and Execute in Binder"></a>

## *head(tableName, rows=5)*

Returns top rows of a given dataset.

> **Parameters:** 
>> **tableName: string**
>>  <br />The name of table associated with the dataset. A full list of table names can be found in the [catalog](Catalog.ipynb) or [Datasets](Datasets.ipynb).
>> <br />
>> <br />**rows: int, default: 5**
>>  <br />Number of top rows to be returned (default 5).

>**Returns:** 
>>  Pandas dataframe.

### Example

In [ ]:
#!pip install pycmap -q     #uncomment to install pycmap, if necessary

import pycmap

api = pycmap.API(token='<YOUR_API_KEY>')
api.head('tblFalkor_2018')

<img src="figures/sql.png" alt="SQL" align="left" width="40"/> 
<br/>
### SQL Statement
Here is how to achieve the same results using a direct SQL statement. Please refere to [Query](Query.ipynb) for more information.

<code>EXEC uspHead 'tableName', 'rows'</code><br/><br/>
**Example:**<br/> 
Top 5 rows from Falkor data set:<br/><br/>
<code>EXEC uspHead 'tblFalkor_2018', '5'</code><br/><br/>