# Look at Sexes

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("dog.csv")

In [ ]:
ax = df["sex"].hist()
_ = ax.set_title("sexes of dogs")

In [8]:
df.assign(old=df["date_of_birth"] < "2015").groupby(["sex", "old"])["waist"].agg(["mean", "count"]).style.background_gradient()

                   mean  count
sex    old
female False  21.269547      4
       True   30.890674      3
male   False  22.996292      4
       True   30.692410      8